@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafc;
  --foreground: #333;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}
